.charts-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .charts-group {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        > * {
            flex: 1 1 400px;
        }
    }
}