<mat-card>
    <div class="form-group balance-number-form">
        <mat-form-field>
            <mat-label>Номер лицевого счета</mat-label>
            <input matInput type="text" [formControl]="balanceNumber" (keyup.enter)="onSearch()"/>
        </mat-form-field>

        <button mat-flat-button color="primary" class="search-button big" [disabled]="!balanceNumber.value" (click)="onSearch()">Найти</button>
    </div>
    <div [loading]="isLoading">
        <div class="result-section" *ngIf="balanceData$ | async as balanceData; else placeholder">
            <h3 class="placeholder error" *ngIf="balanceData.error">{{balanceData.error}}</h3>

            <div *ngIf="!balanceData.error">
                <h2 class="student-name">{{balanceData.data.personName}}</h2>
                <h3 class="balance-date">{{balanceData.data.date}}</h3>
                <table class="balance-table">
                    <tr>
                        <th>Баланс</th>
                        <td>{{balanceData.data.balance | mswCurrency}}</td>
                    </tr>
                    <tr>
                        <th>Основной долг</th>
                        <td>{{balanceData.data.dolg | mswCurrency}}</td>
                    </tr>
                    <tr>
                        <th>Пеня</th>
                        <td>{{balanceData.data.penia | mswCurrency}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</mat-card>

<ng-template #placeholder>
    <h3 class="placeholder">Введите номер Вашего лицевого счета, чтобы узнать баланс</h3>
</ng-template>