<section class="app-list">

    <mat-card class="app-item">
        <h2 class="title">Управление развертыванием приложения:</h2>
        <div class="buttons-wrapper">
            <a mat-button href="https://dashboard.heroku.com/apps/mitso-bot" target="_blank">
                <mat-icon svgIcon="heroku_horizontal" class="brand-logo"></mat-icon>
            </a>
            <a mat-button href="https://app.netlify.com/sites/mitso" target="_blank">
                <mat-icon svgIcon="netlify_horizontal" class="brand-logo"></mat-icon>
            </a>
        </div>
    </mat-card>
    
    <mat-card class="app-item">
        <h2 class="title">Просмотр логов приложения:</h2>
        <a mat-button href="https://mitso-bot-schedule_13690.coralogix.com/#/dashboard" target="_blank">
            <mat-icon svgIcon="coralogix_horizontal" class="brand-logo"></mat-icon>
        </a>
    </mat-card>

    <mat-card class="app-item">
        <h2 class="title">Управление базой данных приложения:</h2>
        <a mat-button href="https://cloud.mongodb.com/v2/5fe22e146c800b6c4dc8bb52#metrics/replicaSet/5fe22f8dcfa1aa78d3fc06b9/explorer" target="_blank">
            <mat-icon svgIcon="mongoDB_horizontal" class="brand-logo"></mat-icon>
        </a>
    </mat-card>

</section>
