.app-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .app-item {
        .buttons-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;    
        }

        .title {
            margin-bottom: 10px;
        }

        .brand-logo {
            min-width: 200px;
            height: 75px;
        }
    }
}