<mat-card>
    <mat-card-header class="toolbar">
        <div class="toolbar-left">
            <div class="toolbar-group" *show-if="'Desktop'">
                <mat-card-title>Пользователи</mat-card-title>
            </div>
            <div class="toolbar-group" *ngIf="totalItems != null">
                <div class="toolbar-value">{{totalItems}}</div>
            </div>
        </div>
        <div class="toolbar-right">
            <div class="toolbar-group">
                <button mat-icon-button color="primary" (click)="onRefreshClick()">
                    <mat-icon svgIcon="refresh"></mat-icon>
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content [loading]="isLoading">
        <div class="filter-wrapper">
            <div class="form-group">
                <mat-form-field class="compact">
                    <mat-label>Поиск</mat-label>
                    <input matInput type="text" [formControl]="searchControl" (keyup.enter)="onSearch()">
                </mat-form-field>
                <button mat-flat-button class="search-button" color="primary"
                    (click)="onSearch()"
                >Найти</button>
            </div>
        </div>
        <users-table [mappedUsers$]="mappedUsers$" [searchString]="searchString"
            (totalItems)="totalItems = $event"
        ></users-table>
    </mat-card-content>
</mat-card>


