@import '/src/styles/variables.scss';

mat-card-content {
    margin: 0 -16px -16px -16px !important;
}

.filter-wrapper {
    padding: 16px 24px 0;
    border-bottom: 1px solid $border-color;

    .search-button {
        flex-grow: 0;
    }
}