.app-logo {
    font-family: 'Fredoka';
    font-size: 30px;
    font-weight: 500;
    user-select: none;
    margin: 0;

    .first-part {
        color: #a184d3;
    }

    .second-part {
        color: #673ab7;
    }
}