<mat-card class="card">
    <mat-card-content [loading]="isLoading">
        <apx-chart
            #chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [plotOptions]="chartOptions.plotOptions"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [title]="chartOptions.title"
            [colors]="chartOptions.colors"
            [tooltip]="chartOptions.tooltip"
            [grid]="chartOptions.grid"
        ></apx-chart>
    </mat-card-content>
</mat-card>