
<div class="sidebar" fxLayout="column">  

    <button mat-button class="menu-button" routerLink="/msw-admin/dashboard" routerLinkActive="active">
        <mat-icon class="menu-icon" svgIcon="dashboard"></mat-icon>
        Статистика
    </button>
    <button mat-button class="menu-button" routerLink="/msw-admin/users" routerLinkActive="active">
        <mat-icon class="menu-icon" svgIcon="people"></mat-icon>
        Пользователи
    </button>

    <mat-divider></mat-divider>


    <button mat-button class="menu-button">
        <mat-icon class="menu-icon" svgIcon="settings"></mat-icon>
        Настройки
    </button>

    
    <button mat-button class="menu-button" style="margin-top: auto" routerLink="/style-guide">
        <mat-icon class="menu-icon" svgIcon="style"></mat-icon>
        Style Guide
    </button>
    

    
</div>