
<div class="sidebar" fxLayout="column">  

    <button mat-button class="menu-button" routerLink="/msw-admin/dashboard" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="dashboard"></mat-icon>
        Статистика
    </button>
    <button mat-button class="menu-button" routerLink="/msw-admin/users" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="people"></mat-icon>
        Пользователи
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="settings"></mat-icon>
        Настройки
    </button>

    <button mat-button class="menu-button" routerLink="/style-guide" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="style"></mat-icon>
        Style Guide
    </button>


    
    <ng-container *ngIf="isMobileView">
        <button mat-stroked-button color="primary" class="logout-button" (click)="logout()">
            <mat-icon svgIcon="logout"></mat-icon>
            Выйти
        </button>
    </ng-container>

</div>