<div class="sidebar" fxLayout="column">
    
    <ng-container *ngIf="isMobileView">
        <app-logo class="logo"></app-logo>
    </ng-container>

    <a mat-button class="menu-button" routerLink="/msw-admin/dashboard" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="dashboard"></mat-icon>
        Статистика
    </a>
    <a mat-button class="menu-button" routerLink="/msw-admin/users" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="people"></mat-icon>
        Пользователи
    </a>

    <a mat-button class="menu-button" routerLink="/msw-admin/settings" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="settings"></mat-icon>
        Настройки
    </a>

    <mat-divider></mat-divider>

    <a mat-button class="menu-button" routerLink="/" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="arrow_back"></mat-icon>
        Назад на главную
    </a>


    
    <ng-container *ngIf="isMobileView">
        <button mat-stroked-button color="primary" class="logout-button" (click)="logout()">
            <mat-icon svgIcon="logout"></mat-icon>
            Выйти
        </button>
    </ng-container>

</div>