<div class="sidebar" fxLayout="column">

    <app-logo class="logo"></app-logo>

    <a mat-button class="menu-button" routerLink="/schedule" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="calendar"></mat-icon>
        Расписание
    </a>

    <a mat-button class="menu-button" routerLink="/teachers" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="people"></mat-icon>
        Преподаватели
    </a>

    <a mat-button class="menu-button" routerLink="/balance" routerLinkActive="active" (click)="onElementClick()">
        <mat-icon class="menu-icon" svgIcon="payments"></mat-icon>
        Баланс
    </a>


</div>