<div *ngIf="lessons?.length; else noLessonsTemplate">
    <div class="title">
        <span class="main-title">
            <span class="group-word" *ngIf="type === ScheduleType.Group">Группа</span>
            <strong>{{mappedSchedule.title}}</strong>
        </span>
        <span class="subtitle">{{mappedSchedule.subtitle}}</span>
    </div>
    <div class="schedule">
        <div class="day" *ngFor="let day of mappedSchedule.days">
            <div class="day-title">
                <span class="day-of-week">{{day.day}}</span>
                <span class="date">{{day.date}}</span>
            </div>
            <div class="lessons">
                <div class="lesson" *ngFor="let lesson of day.lessons">
                    <span class="time">{{lesson.time}}</span>
                    <div class="main-info">
                        <div>
                            <span class="type">{{lesson.lessonType}}</span>
                            <span class="name">{{lesson.lessonName}}</span>
                        </div>
                        <div>
                            <span class="subtitle">{{lesson.subtitle}}</span>
                        </div>
                    </div>
                    <span class="classroom">{{lesson.classRoom}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noLessonsTemplate>
    <h3 class="no-lessons">{{isError ? ERROR_MSG[type] : PLACEHOLDER_MSG[type]}}</h3>
</ng-template>
