<mat-toolbar *ngIf="{ isMobileView: isMobileView$ | async } as vm" [class.mobile-view]="vm.isMobileView">

    <ng-container *ngIf="vm.isMobileView; else desktopViewTemplate">
        <button mat-icon-button color="primary" *ngIf="!isSidenavOpened" (click)="sidenav.open()">
            <mat-icon svgIcon="menu"></mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="isSidenavOpened" (click)="sidenav.close()">
            <mat-icon svgIcon="close"></mat-icon>
        </button>

        <h3>
            <ng-container *ngIf="url === '/schedule'">Расписание</ng-container>
            <ng-container *ngIf="url === '/teachers'">Преподаватели</ng-container>
            <ng-container *ngIf="url === '/balance'">Баланс</ng-container>
        </h3>
    </ng-container>

    <ng-template #desktopViewTemplate>

        <app-logo class="logo"></app-logo>

        <a mat-button routerLink="/schedule" [class.mat-stroked-button]="isRouteActive('/schedule')" color="primary">
            <mat-icon svgIcon="calendar"></mat-icon>
            Расписание
        </a>

        <a mat-button routerLink="/teachers" [class.mat-stroked-button]="isRouteActive('/teachers')" color="primary">
            <mat-icon svgIcon="people"></mat-icon>
            Преподаватели
        </a>

        <a mat-button routerLink="/balance" [class.mat-stroked-button]="isRouteActive('/balance')" color="primary">
            <mat-icon svgIcon="payments"></mat-icon>
            Баланс
        </a>
    </ng-template>

</mat-toolbar>