<div fxLayoutAlign="center center" class="wrapper">
    <mat-card fxFlex.lt-sm="100%" fxFlex="450px" fxLayoutAlign="center" fxLayout="column" class="card large-paddings">
        <mat-card-content >

            <h1 class="form-title">Панель управления</h1>
            <p class="form-description">Данный раздел предназначен для администраторов.<br>Введите пароль для доступа</p>

            <div class="form-group column">
                <mat-form-field>
                    <mat-label>Пароль</mat-label>
                    <input matInput [formControl]="passwordControl" required autocomplete="off">
                    <mat-error>
                        <validation-error [control]="passwordControl"></validation-error>
                        <ng-container *ngIf="showServerError">{{serverError}}</ng-container>
                    </mat-error>
                </mat-form-field>
                <div class="submit-button" fxLayoutAlign="end center">
                    <button mat-flat-button color="primary" (click)="submit()" [loading]="isLoading">Войти</button>
                </div>
            </div>
        
        </mat-card-content>
    </mat-card>
</div>
