<mat-toolbar>

    <div class="topbar-group">
        <div *ngIf="isMobileView">
            <button mat-icon-button color="primary" *ngIf="!isSidenavOpened" (click)="sidenav.open()">
                <mat-icon svgIcon="menu"></mat-icon>
            </button>
            <button mat-icon-button color="primary" *ngIf="isSidenavOpened" (click)="sidenav.close()">
                <mat-icon svgIcon="close"></mat-icon>
            </button>
        </div>

        <h3 *ngIf="isMobileView">
            <ng-container *ngIf="url === '/msw-admin/users'">Пользователи</ng-container>
            <ng-container *ngIf="url === '/msw-admin/dashboard'">Статистика</ng-container>
        </h3>
    </div>

    <div class="topbar-group">

        <ng-container *ngIf="!isMobileView">
            <button mat-stroked-button color="primary" (click)="logout()">
                <mat-icon svgIcon="logout"></mat-icon>
                Выйти
            </button>
        </ng-container>
        
    </div>

</mat-toolbar>